.py-4{
background-color: #012033;
color: #ffffff;

}
.navbar-light .navbar-brand{
    color: #ffffff !important;
}
body{
background-color: #0B2435;
    color: #ffffff !important;

}
td, tr, th {
     color: #ffffff;
}
.text-center{
    color: #ffffff;
}
.NavImg{
    width: 54px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
     color: #ffffff;
}
.navbar-light .navbar-nav .nav-link{
         color: #ffffff;
}

.card-title{
    color: #313043;
}

.modal-title{
    color: #000000;
}
.form-label{
     color: #ffffff;
}
.form-control-plaintext{
            color: #ffffff;
}
.modal-body{
background-color: #0B2435;
}
.img-fluid {
    max-width: 160px;
    height: 160px;
}
.col-sm-2{
    width: 23.666667%;
}
.col-sm-10{
    width: 72.333333%;
}
.navbar-expand-lg .navbar-collapse{
    flex-flow: row-reverse;
}

.row {
    place-content: center;
    margin-bottom: 23px;
    margin-right: 0;
}
.mb-5 {
    margin-bottom: 0rem!important;
    margin-right: 0;
}
.col{
    flex: inherit;
}
.card-body {
    -webkit-flex: 1 1 auto;
    padding: 12px 1rem;
    font-size: 29px;
}
.card-body:hover {
    background-color: #119e93;
}
.card-body:visited {
    background-color: #126e64;
    outline: 2px solid;
}
.Event {
    margin-top: 85px !important;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}.EventBTN {
    position: absolute;
    background: #0b2435;
    margin-top: 38%;
    width: 313px;
    height: 82px;
    padding-top: 17px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}.EventBTN:hover {
    background-color: #165580;
}
.DonationBar {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: left;
    justify-content: left;
    padding-left: 33px;
    font-family: arial;
    font-weight: bold;
    font-size: medium;
}
.DonationBarLink{
    margin: 8px;
    width: auto;
}
.DonationBarLink.active{
    border-bottom: white solid;
}